@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
	background-color: #141218;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #fff;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 60px;
	margin-bottom: 90px;
}

.menu-list {
	margin-right: auto;
	margin-left: 67px;
}

.menu-link {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
	margin-right: 24px;
}
.social-link {
	margin-left: 20px;
	text-decoration: none;
}
.genre {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 16px;
	display: block;
}
.rating {
	display: flex;
	/* align-items: center; */
}
.rating-number {
	font-size: 12px;
	line-height: 14px;
	margin-top: 2px;
	margin-left: 9px;
	margin-bottom: 10px;
}
.main-title {
	font-size: 76px;
	line-height: 89px;
	font-family: 'MasonChronicles', serif;
	margin-bottom: 10px;
}
.main-description {
	max-width: 458px;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 40px;
}
.button {
	background-color: #9D2929;
	border-radius: 8px;
	color: #fff;
	border: none;
	padding: 22px 72px;
}
.main-content {
	display: flex;
	align-items: center;
}
.play {
	background: #9D2929;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: none;
	position: relative;
	margin: auto;
}
.play-img {
	position: relative;
	transform: translateX(5px);
}
.play::before {
	content: '';
	width: 132px;
	height: 132px;
	background: #9D2929;
	opacity: 0.5;
	position: absolute;
	border-radius: 50%;
	left: -16px;
	top: -16px;
}